In [8]:
import pandas as pd
import numpy as np
import random

In [3]:
new_transactions = pd.read_csv('new_merchant_transactions.csv', parse_dates=['purchase_date'])
merchants = pd.read_csv('merchants.csv')
historical_transactions = pd.read_csv('historical_transactions.csv',parse_dates=['purchase_date'])
test = pd.read_csv('test.csv', parse_dates=["first_active_month"])
train = pd.read_csv('train.csv', parse_dates=["first_active_month"])

In [4]:
historical_transactions=historical_transactions.append(new_transactions)

In [5]:
historical_transactions.shape

(31075392, 14)

In [11]:
historical_transactions["batch"] =0

In [26]:
card_list=historical_transactions.card_id.unique()
random.Random(4).shuffle(card_list)

card_batch={}
n_card=2000
x=0
y=len(card_list)
for i in range(x,y,n_card):
    x=i
    print(i)
    historical_transactions["batch"] = np.where(historical_transactions["card_id"].isin(card_list[x:x + n_card]), 'cards_%s' % i, historical_transactions["batch"])
    data=historical_transactions[historical_transactions['batch']=='cards_%s' % i]
    data.to_csv('data_'+'cards_%s' % i+'.csv')

0
2000
4000
6000
8000
10000
12000
14000
16000
18000
20000
22000
24000
26000
28000
30000
32000
34000
36000
38000
40000
42000
44000
46000
48000
50000
52000
54000
56000
58000
60000
62000
64000
66000
68000
70000
72000
74000
76000
78000
80000
82000
84000
86000
88000
90000
92000
94000
96000
98000
100000
102000
104000
106000
108000
110000
112000
114000
116000
118000
120000
122000
124000
126000
128000
130000
132000
134000
136000
138000
140000
142000
144000
146000
148000
150000
152000
154000
156000
158000
160000
162000
164000
166000
168000
170000
172000
174000
176000
178000
180000
182000
184000
186000
188000
190000
192000
194000
196000
198000
200000
202000
204000
206000
208000
210000
212000
214000
216000
218000
220000
222000
224000
226000
228000
230000
232000
234000
236000
238000
240000
242000
244000
246000
248000
250000
252000
254000
256000
258000
260000
262000
264000
266000
268000
270000
272000
274000
276000
278000
280000
282000
284000
286000
288000
290000
292000
294000
296000
298000
300000
302000
304000
306000
308000
310000
312000
314000
316000
318000
320000
322000
324000

In [15]:
card_list

array(['C_ID_97a7c850f3', 'C_ID_f50cbc68b9', 'C_ID_654f82cf56', ...,
       'C_ID_5a99adc35c', 'C_ID_806ee08457', 'C_ID_91152e1f3a'],
      dtype=object)

In [16]:
historical_transactions[historical_transactions['card_id']=='C_ID_97a7c850f3']

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id,batch
29077544,Y,C_ID_97a7c850f3,135,N,2,C,705,M_ID_5cd70ab666,-2,-0.349532,2017-02-18 18:32:25,3.0,7,33,cards_0
29077545,Y,C_ID_97a7c850f3,135,N,2,C,367,M_ID_7c092e44b6,-1,-0.683811,2017-03-31 22:59:26,3.0,7,16,cards_0
29077546,Y,C_ID_97a7c850f3,135,N,2,C,705,M_ID_5cd70ab666,0,-0.333769,2017-04-18 08:48:26,3.0,7,33,cards_0
29077547,Y,C_ID_97a7c850f3,135,N,6,C,690,M_ID_f31a025f54,-2,-0.461104,2017-02-03 10:29:53,3.0,7,1,cards_0
77585,Y,C_ID_97a7c850f3,135,N,1,B,360,M_ID_91c7d148c8,2,-0.709342,2017-06-03 11:02:29,3.0,7,34,cards_0
77586,Y,C_ID_97a7c850f3,135,N,2,C,705,M_ID_1cadb6bc33,2,-0.671745,2017-06-17 13:58:51,3.0,7,33,cards_0
77587,Y,C_ID_97a7c850f3,-1,Y,1,B,755,M_ID_57df19bf28,2,-0.672001,2017-06-27 21:44:36,NaN,-1,8,cards_0
77588,Y,C_ID_97a7c850f3,25,N,1,B,705,M_ID_a7bfa41904,2,-0.693474,2017-06-23 09:12:56,3.0,7,33,cards_0
77589,Y,C_ID_97a7c850f3,135,N,2,C,367,M_ID_ffeb1929c8,1,-0.695893,2017-05-29 11:04:34,3.0,7,16,cards_0